<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SpringBoot模版渲染</title>
<link rel="icon" type="image/x-icon" th:href="@{/images/mldn.ico}" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<p th:text="'用户编号'+${member.mid}" />
	<p th:text="'用户编号'+${member.name}" />
	<p th:text="'用户编号'+${member.sal}" />
	<p th:text="'用户编号'+${member.age}" />
	<p
		th:text="'用户编号'+*{#dates.format(member.hiredate,'yyyy-MM-dd HH:mm:ss.SSS')}" />
	<!-- <h1>使用Object</h1> -->
	<div th:object="${member}">
		<p th:text="'用户编号'+*{mid}" />
		<p th:text="'用户编号'+*{name}" />
		<p th:text="'用户编号'+*{sal}" />
		<p th:text="'用户编号'+*{age}" />
	</div>
	<!-- <p th:text="'用户编号'+*{#dates.format(hiredate,'yyyy-MM-dd HH:mm:ss.SSS')}" /> -->
	<!-- 逻辑判断 -->
	<div th:object="${member}">
		<span th:if="*{age ge 18}"> <span th:text="*{name}+'是一个成年人'" />
		</span> <span th:if="*{age lt 18}"> <span th:text="*{name}+'是一个未成年人'" />
		</span>
	</div>

	<!-- 逻辑判断 取反 -->
	<div th:object="${member}">
		<span th:if="*{age ge 18}"> <span th:text="*{name}+'是一个成年人'" />
		</span> <span th:unless="*{age ge 18}"> <span
			th:text="*{name}+'是一个未成年人'" />
		</span>
	</div>

	<!--switch  -->
	<div th:object="${member}">
		<span th:switch="*{deptno}"> 
			<span th:case="10" th:text="*{name}+'10部门的员工'" /> 
			<span th:case="20" th:text="*{name}+'20部门的员工'" /> 
			<span th:case="*" th:text="*{name}+'其他部门的员工'" />
		</span>
	</div>
	<!-- list集合显示数据 -->
	
	<div th:object="${member}">
		<span>
		
		</span>
	</div>
	<!--map集合  -->
	<h1>map集合  输出</h1>
<p th:text="${#maps.containsKey(allmap,10L)}"/>
<p th:text="${allmap[10L]}"/>

	 <div th:object="${member}">
		<span th:text="'姓名'+*{name}"/>
		<span th:text="'部门'+${allmap[member.deptno]}"/>
	</div> 
</body>
</html>