<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SpringBoot模版渲染</title>
<script type="text/javascript" th:src="@{jquery/jquery.min.js}"></script>
<link type="text/css" rel="stylesheet"
	th:href="@{bootstrap/css/bootstrap.css}" />
<link rel="icon" type="image/x-icon" th:href="@{/images/mldn.ico}" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<table border="1" style="width: 80%">
		<tr>
			<td>No.</td>
			<td>编号</td>
			<td>姓名</td>
			<td>部门</td>
		</tr>
		<tr th:each="dept,mStat:${alldept}"
			th:class="${mStat.even ? 'text-danger':'text-info'}">
			<td th:text="${mStat.index+1}"></td>
			<td th:text="${dept.deptno}"></td>
			<td th:text="${dept.dname}"></td>
			<td th:text="${dept.loc}"></td>
		</tr>
	
	</table>

	<hr style="height: 10px; border-color: red" />
	<div
		th:include="@{/message/pages/plugins/footer/member_include} :: addressInfo"
		th:with="did=111,lid=222"></div>
</body>
</html>