<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SpringBoot模版渲染</title>
<script type="text/javascript" th:src="@{jquery/jquery.min.js}"></script>
<link type="text/css" rel="stylesheet"
	th:href="@{bootstrap/css/bootstrap.css}" />
<link rel="icon" type="image/x-icon" th:href="@{/images/mldn.ico}" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>Insert title here</title>
<style type="text/css">
.line {
	border: 15px;
	background: green;
	width: 10px;
}
</style>
</head>
<body>
	<table border="1" style="width: 80%">
		<tr>
			<td>No.</td>
			<td>Key</td>
			<td>编号</td>
			<td>姓名</td>
			<td>年龄</td>
			<td>工资</td>
			<td>部门</td>
			<td>even</td>
			<td>add</td>
		</tr>
		<tr th:each="member,mStat:${alllist}"
			th:class="${mStat.even ? 'text-danger':'text-info'}">
			<td th:text="${mStat.index+1}"></td>
			<td th:text="${member.mid}"></td>
			<td th:text="${member.name}"></td>
			<td th:text="${member.age}"></td>
			<td th:text="${member.sal}"></td>
			<td th:text="${member.deptno}"></td>
			<td th:text="${mStat.odd}"></td>
			<td th:text="${mStat.even}"></td>
		</tr>
		<tr th:each="memberEntry,mStat:${allmap}"
			th:class="${mStat.even ? 'text-danger':'text-info'}">
			<td th:text="${mStat.index+1}"></td>
			<td th:text="${memberEntry.key}"></td>
			<td th:text="${memberEntry.value.mid}"></td>
			<td th:text="${memberEntry.value.name}"></td>
			<td th:text="${memberEntry.value.age}"></td>
			<td th:text="${memberEntry.value.sal}"></td>
			<td th:text="${memberEntry.value.deptno}"></td>
			<td th:text="${mStat.odd}"></td>
			<td th:text="${mStat.even}"></td>
		</tr>
	</table>

	<hr style="height: 10px; border-color: red" />
	<div
		th:include="@{/message/pages/plugins/footer/member_include} :: addressInfo"
		th:with="did=111,lid=222"></div>
	<!-- <div th:replace="@{/message/pages/plugins/footer/member_include} :: addressInfo"></div> -->
</body>
</html>