<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SpringBoot模版渲染</title>
<link rel="icon" type="image/x-icon" th:href="@{/images/mldn.ico}" />
<script type="text/javascript" th:src="@{/js/message/message_show.js}"></script>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<!-- 显示图片 -->
	<img th:src="@{/images/221500.jpg}" />
	<p th:text="'用户名：' + ${msg}" />
	<!-- 直接读取资源文件  ('liaohuan')设置变量-->
	<p th:utext="#{welcome.msg('liaohuan')}" />
	<p th:utext="'1+1='+(1+1)" />

	<!-- 操作内置对象  -->
	 <p th:text="${#httpServletRequest.getHeader('Accept-Language')}"/>
	<p th:text="${#httpServletRequest.getSession().getId()}"/>
	<p th:text="${#httpSession.getId()}"/> 
	<p th:text="${#httpServletRequest.getServletContext().getRealPath('/')}"/> 

</body>
</html>
